@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.btn {
    width: 100%;
    height: 100%;
}

.clear {
    background-color: lightgreen;
    border-color: seagreen;
}

.notDone {
    background-color: lightcoral;
    border-color: darkred;
}

.disabled {
    background-color: darkgray;
    border-color: dimgray;
}